<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>You are already signed in!</h2>
      <h5>Be prepared to find a fight.</h5>
      <a class="btn btn-danger" href="/fightMatcher" role="button">Find a Fight</a>
      <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
    </div>
  </div>
</div>